#game-screen {
    border: 1px solid #000000;
    margin: 1%;
}

.logger {
    padding: 0 10px;
    white-space: pre-wrap;      /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* Internet Explorer 5.5+ */
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

#game-screen, #left-logger {
    position: fixed;
    border-radius: 4px;
}

#left-logger {
    right: 0;
    margin-right: 1.5%;
    overflow: auto;
}

#logo {
    display: block;
    margin: 0 auto;
}