#game-screen {
	border: 1px solid #000000;
	margin: 1%;
}

.logger {
	padding: 10px;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

#game-screen, #left-logger {
	position: fixed;
	border-radius: 4px;
}

#left-logger {
	right: 0;
	margin-right: 1.5%;
	overflow: scroll;
}

#logo{
    display: block;
    margin: 0 auto;
}